:root {
    /*  
        Nord color palette from : 
        https://www.nordtheme.com/ 

        Polar Night
    */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    /*
        Snow Storm
    */
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;

    /*
        Frost
    */
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;

    /*
        Aurora
    */
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

html, body {
    margin: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--nord0);
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

a {
    color: var(--nord10);
    text-decoration: none;
}

header {
    width: 100%;
    height: 75px;
    background-color: var(--nord0);
}

footer {
    width: 100%;
    height: 125px;
    background-color: var(--nord0);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 0 0;
    bottom: 0;
}

#main {
    min-height: calc(100vh - 125px);
}

footer a {
    color: var(--nord8);
}

.underline-link:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    padding: 40px 0;
    border-top: solid 1px var(--nord4);
}

.section-container, .header-container {
    max-width: 1100px;
    display: flex;
    margin: auto;
}

.header-container {
    height: 100%;
    color: #fff;
    justify-content: space-between;
}

#projects > .section-container {
    flex-flow: column nowrap;
}

#profile > .section-container {
    flex-flow: row nowrap;
    justify-content: space-between;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    flex-wrap: wrap;
    grid-auto-rows: 1fr;
    grid-gap: 30px;
    padding: 40px 0;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.project {
    display: flex;
    flex-flow: column nowrap;
    min-width: 300px;
    min-height: 110px;
    border: solid 1px var(--nord4);
    border-radius: 6px;
    padding: 15px;
}

.project > * {
    margin: 0 0 7px 0;
}

.title {
    font-size: 22px;
}

.tags {
    display: flex;
    flex-flow: row nowrap;
}

.tag {
    font-size: 12px;
    padding: 3px 10px;
    background-color: var(--nord6);
    margin: 0 5px 0 0;
    border-radius: 2em;
    cursor: pointer;
    transition: all 0.2s;
}

.tag:hover {
    background-color: var(--nord5); 
}

.tag:hover > a {
    text-decoration: none;
}

.tag span {
    color: var(--nord10);
}

.description {
    font-size: 15px;
    color: var(--nord3);
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 10em;
    border: solid 1px var(--nord4);
}

.left-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    max-width: 180px;
    margin: 0 40px 0 0;
}

.right-container {
    padding: 30px;
    border: solid 1px var(--nord4);
    border-radius: 12px;
}

.readme-link {
    font-size: 13px;
    margin: 0 0 20px 0;
}

#readme {
    margin: 20px 0 0 0;
}

#readme img {
    margin: 0 20px 0 0;
}

.header-menu, .header-title, .header-rs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-rs img {
    width: 30px;
    height: auto;
    margin: 0 0 0 20px;
}

.menu-link {
    color: #fff;
    margin: 0 20px;
}

.invert {
    filter: invert(1);
}

.project-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.github-link img {
    width: 25px;
    height: 25px;
    filter: invert(13%) sepia(3%) saturate(5537%) hue-rotate(182deg) brightness(87%) contrast(78%);
}

#emoji {
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 800px) {
    #profile > .section-container {
        flex-flow: column nowrap;
    }   
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .left-container {
        max-width: 100%;
        margin: 0;
    }

    .right-container {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header-title {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #profile > .section-container {
        flex-flow: column nowrap;
    }

    .left-container {
        max-width: 100%;
        margin: 0;
    }
    
    .right-container {
        margin-top: 40px;
        border-right: none;
        border-left: none;
        border-bottom: none;
        padding-bottom: 0;
        border-radius: 0px;
    }

    .section-container > h2 {
        text-align: center;
    }

    .header-container {
        margin: 0 40px;
    }
}