<!DOCTYPE html>
<html lang="en">
<head>
    <meta cha    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="css/master.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet"> 
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Holy Tanuki</title>
</head>
<body>
    <div id="main">
        <header>
            <div class="header-container">
                <div class="header-title">
                    <a href="#" style="color: #fff;"><h2>Holy Tanuki</h2></a>
                </div>
                <div class="header-menu">
                    <a href="#profile" class="menu-link">Profile</a>
                    <a href="#projects" class="menu-link">Projects</a>
                </div>
                <div class="header-rs">
                    <a href="https://www.github.com/holy-tanuki/" class="invert"><img src="https://cdn.jsdelivr.net/npm/simple-icons@5.9.0/icons/github.svg" alt="discord"></a>
                    <a href="https://discord.gg/yuCmafTjzW" class="invert"><img src="https://cdn.jsdelivr.net/npm/simple-icons@5.9.0/icons/discord.svg" alt="discord"></a>
                    <a href="https://www.instagram.com/holydeusoftanukis/" class="invert"><img src="https://cdn.jsdelivr.net/npm/simple-icons@5.9.0/icons/instagram.svg" alt="discord"></a>
                </div>
            </div>
        </header>

        <section id="profile">
            <div class="section-container">
                <div class="left-container">
                    <img class="profile-pic" src="https://avatars.githubusercontent.com/holy-tanuki?size=200" alt="profile">
                    <a href="https://github.com/holy-tanuki" class="underline-link">
                        <h1>Holy Tanuki</h1>
                    </a>
                </div>
                <div class="right-container">
                    <div class="readme-container">
                        <a href="https://github.com/holy-tanuki/holy-tanuki/blob/main/README.md" class="underline-link">
                            <span class="readme-link">holy-tanuki/README.md</span>
                        </a>
                        <div id="readme"></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <div class="section-container">
                <h2>Projects</h2>
                <div class="projects-container">
                    <div v-for="p in projects" class="project">
                        <div class="project-header">
                            <h3 class="title">
                                <a v-if="p.link" :href="p.link" class="underline-link">{{ p.title }}</a>
                                <a v-else-if="p.github" :href="p.github" class="underline-link">{{ p.title }}</a>
                                <a v-else href="">{{ p.title }}</a>
                            </h3>
                            <div v-if="p.github" class="github-link">
                                <a :href="p.github">
                                    <img src="https://cdn.jsdelivr.net/npm/simple-icons@5.9.0/icons/github.svg" alt="github">
                                </a>
                            </div>
                        </div>
                        <div class="tags">
                            <a v-for="tag in p.tags" class="tag">
                                <span class="tag-name">{{ tag }}</span>
                            </a>
                        </div>
                        <p class="description">{{ p.description }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <span>Made with <a class="underline-link" href="https://www.nordtheme.com">Nord palette</a>, <a class="underline-link" href="https://v3.vuejs.org/">Vue.js</a> and ❤️.</span>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>